@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html {
  --line-color: #e5e7eb;
  --cursor-color:rgba(28, 37, 50, 0.7)  ;

}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
    --cursor-color: rgba(229, 231, 235, 0.7);

}

.borderBlack {
  @apply border border-black/10;
}